<div class="modal-footer px-0">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">
        <span id="SaveButtonSpinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        <span>Save</span>
    </button>
</div>
@*  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Loading...</span>*@