@model AuthorViewModel

@{
    ViewData["Title"] = $"{(Model?.Id > 0 ? "Edit" : "Add")} Author";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            @(Model?.Id > 0 ? "Edit" : "Add") Author
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-controller="Author">
                    @if (Model?.Id > 0)
                    {
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="IsDeleted" />
                    }
                    <div class="mb-3">
                        <div class="form-floating">
                            <input type="text" class="form-control" placeholder="Name" asp-for="Name">
                            <label asp-for="Name">Name</label>
                        </div>
                        <span asp-validation-for="Name" class="text-danger d-block"></span>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">
                        <i class="bi bi-check2 pe-1"></i>
                        Save
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}